{% extends 'base/base.html' %}

    {% block contenido %}
        <form class="d-flex">
            <input class="form-control me-2" name="titulo_articulo" type="search" placeholder="Buscar" aria-label="Buscar" value="{{busqueda_titulo}}">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <div class="row" style="padding:10px;">
            <div class="col">
                <a href="{% url 'articulos:admin_nuevo' %}" class="btn btn-outline-success">Nuevo Artículo</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Título</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Fecha de Publicación</th>
                    <th scope="col">Etiquetas</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for a in articulos %}
                    <tr>
                        <th scope="row">{{a.id}}</th>
                        <td>{{a.autor}}</td>
                        <td>{{a.categoria}}</td>
                        <td>{{a.titulo}}</td>
                        <td>{{a.contenido|safe}}</td>
                        <td>{{a.fecha_publicacion}}</td>
                        <td>{% for c in a.etiquetas.all %}
                                <span class="badge rounded-pill bg-primary">{{c.nombre}}</span>
                            {% endfor %}
                        </td>   
                        <td class="d-grid gap-2 d-md-block">
                            <a href="{% url 'articulos:detalle' a.id %}" class="btn btn-outline-info">Ver</a>
                            <a href="{% url 'articulos:admin_editar' a.id %}" class="btn btn-outline-primary">Editar</a>
                            {% if a.estado == 1 %}
                                <a href="{% url 'articulos:admin_eliminar' a.id %}" class="btn btn-outline-danger">Eliminar</a>
                            {% else %}
                                <a href="{% url 'articulos:admin_restaurar' a.id %}" class="btn btn-outline-info">Restaurar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "includes/paginador.html" %}
    {% endblock contenido %}

