{% load static %}
<!doctype html>
<html lang="es-ar">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Década de Acción - Blog</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'images/favicon.ico' %}">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <meta name="theme-color" content="#2982b3">
        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                font-size: 3.5rem;
                }
            }
        </style>
        <!-- CSS -->
        <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    </head>
    <body>
            <header>
                {% include "base/header.html" %}
            </header>
            <main>
                {% include "base/portada.html" %}
                    <!-- ======================== BARRA MENU ========================== -->
                    {% block menu %}
                        <div class="album py-5 bg-light">
                            <div class="container">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="#">Menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'inicio' %}">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Objetivos</a>
                                    </li>
                                    {% if user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'articulos:mis_articulos' %}">Mis Artículos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'articulos:admin_listar' %}">Gestionar todos los Artículos</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endblock menu %}
                    <!-- ======================== FIN BARRA MENU ========================== -->
                    {% block contenido %}
                    {% endblock contenido %}
                        {% comment %} <!-- START THE FEATURETTES -->
                        <hr class="featurette-divider">
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
                            </div>
                            <div class="col-md-5">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                            </div>
                        </div>
                        <hr class="featurette-divider">
                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                            </div>
                        </div>
                        <hr class="featurette-divider">
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                            </div>
                            <div class="col-md-5">
                                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                            </div>
                        </div>
                        <hr class="featurette-divider">
                        <!-- /END THE FEATURETTES --> {% endcomment %}
                    </div><!-- /.container -->
                <!-- FOOTER -->
                {% include "base/footer.html" %}
            </main>
            <!-- JavaScript -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>