<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Adoptar medidas urgentes para combatir la crisis climática y sus efectos</h1>
                    <p>Fortalecer la capacidad de adaptación al cambio climático. Incorporar medidas en las políticas, estrategias y planes nacionales. Mejorar la educación, la sensibilización y la capacidad humana e institucional.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">El futuro te necesita</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>¿Qué es el desarrollo sostenible?</h1>
                        <p>El desarrollo sostenible se ha definido como el desarrollo capaz de satisfacer las necesidades del presente sin comprometer la capacidad de las futuras generaciones para satisfacer sus propias necesidades.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Más información</a></p>
                    </div>
                </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Década de Acción</h1>
                    <p>La década de acción exige acelerar las soluciones sostenibles dirigidas a los principales desafíos del mundo; desde la pobreza y la igualdad de género, hasta el cambio climático, la desigualdad y el cierre de la brecha financiera.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Actúa ahora</a></p>
                </div>
            </div>
        </div>
    </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
        </button>
</div>