{% extends "base/base.html" %}
{% block menu %}

{% endblock menu %}
{% block contenido %}
	<h1>Ingresa tus datos</h1>
	<form method="POST">{% csrf_token %}
		{% include "includes/form_errors.html" %}
		{% include "includes/forms.html" %}
		<div class="row" style="border: solid #dee2e6;padding: 1.5rem;margin-right: 0;margin-left: 0;border-width: 1px;	border-top-left-radius: 0.25rem;border-top-right-radius: 0.25rem;"">
			<div class="col">
				<button type="submit" class="btn btn-success">Registrarme</button>
				<a href="{% url 'inicio' %}" class="btn btn-danger">Cancelar</a>
			</div>
		</div>
	</form>
{% endblock contenido %}