{% extends 'base/base.html' %}
{% block portada %}

{% endblock portada %}
{% load static %}
{% block contenido %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <style>
        .MakaleYazariAdi{
            line-height:34px;
        }  
        #BegeniButonlari{
            float:right;
            margin-top:15px;
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="MakaleYazariAdi">Autor: {{articulo.autor}}</a>
                <div class="btn-group" style="float:right;">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="sr-only">Menu</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'articulos:admin_editar' articulo.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'articulos:admin_eliminar' articulo.id %}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Borrar</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        {% if articulo.imagen %}
                            <img src="{{articulo.imagen}}" class="bd-placeholder-img rounded-circle" title="{{ articulo.titulo }}" width="140" height="140">
                        {% else %}
                            <img src="{% static 'images/no_imagen.png' %}" class="bd-placeholder-img rounded-circle" title="{{ articulo.titulo }}" width="140" height="140">
                        {% endif %}  
                    </div>
                    <div class="media-body">
                    <h4 class="media-heading">Titulo: {{articulo.titulo}}</h4>
                    <p>{{articulo.contenido|safe}}</p>
                    <p>Categoria: {{articulo.categoria}}</p>
                    <p>Fecha de Publicación: {{articulo.fecha_publicacion}}</p>
                    <p>Etiquetas:   {% for c in articulo.etiquetas.all %}
                                        <span class="badge rounded-pill bg-primary">{{c.nombre}}</span>
                                    {% endfor %}
                    </p>
                    <div class="clearfix"></div>
                    <div class="btn-group" role="group" id="BegeniButonlari">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>                 
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================== AGREGAR COMENTARIOS ======================= -->
    {% block comentar_articulo %}
        {% if user.is_authenticated %}     
            <div class="container">
                <div class="comment-container">
                    <div class="row add-comment">
                        <form action="" method="post">
                            <div class="form-group">
                                <a href={% url 'comentarios:admin_nuevo' articulo.id %} role="button" class="form-control">Agregar Comentario</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock comentar_articulo %}
    <!-- ================= FIN AGREGAR COMENTARIOS ==================== -->

    <!-- =================== VER LOS COMENTARIOS ======================= -->
    {% for c in articulo.comentario_set.all %}
            {% if c.visibilidad and c.estado %}
                <div class="container">
                    <div class="comment-container">
                        <div class="row add-comment reply-comment" style="margin-bottom: 1rem" ;>
                            <div class="form-group">
                                <div class="container px-4">
                                    <div class="row gx-5">
                                      <div class="col">
                                       <div class="p-3 border bg-light"><h4>{{c.titulo}}</h4></div>
                                      </div>
                                    </div>
                                </div>
                                <div class="container px-4">
                                    <div class="row gx-5">
                                      <div class="col">
                                       <div class="p-3 border bg-light"><span></span><br>{{c.contenido|safe}}</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endfor %}
    <!-- ================= FIN VER LOS COMENTARIOS ===================== -->
{% endblock contenido %}