{% extends 'base/base.html' %}

    {% block contenido %}
        <form class="d-flex">
            <input class="form-control me-2" name="titulo_comentario" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Artículo</th>
                    <th scope="col">Título</th>
                    <th scope="col">Contenido</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in comentarios %}
                    {% if c.estado %}
                        <tr>
                            <th scope="row">{{c.id}}</th>
                            <td>{{c.autor}}</td>
                            <td>{{c.articulo}}</td>
                            <td>{{c.titulo}}</td>
                            <td>{{c.contenido|safe}}</td>
                            <td>{% if c.visibilidad %}
                                    <button type="button" class="btn btn-outline-success">Visible</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-danger">Pend. de Aprobación</button>
                                {% endif %}</td>
                            <td class="d-grid gap-2 d-md-block">
                                <a href="{% url 'comentarios:detalle' c.id %}" class="btn btn-outline-info">Ver</a>
                                <a href="{% url 'comentarios:admin_editar' c.id %}" class="btn btn-outline-primary">Editar</a>
                                <a href="{% url 'comentarios:admin_eliminar' c.id %}" class="btn btn-outline-danger">Eliminar</a>
                                {% if user.es_administrador %}
                                    {% if not c.visibilidad %}
                                        <a href="{% url 'comentarios:admin_aprobar' c.id %}" class="btn btn-outline-info">Aprobar</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% include "includes/paginador.html" %}
    {% endblock contenido %}

